<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/admindash.css">
        <script src="https://kit.fontawesome.com/ac73c8797e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <input type="checkbox" id="nav-toggle">
        <div class="sidebar">
             <div class="sidebar-admin">
                 <h1> <span class="la la-user"></span><span>Admin</span></h1>      
             </div>
             <div class="sidebar-menu">
                 <ul>
                     <li>
                         <a href="/admindash" ><span class="la la-dashboard"></span>
                            <span>Dashboard</span>
                        </a>
                     </li>
                     <li>
                        <a href="/admindocter" ><span class="la la-medkit"></span>
                           <span>Doctor</span>
                       </a>
                    </li>                      
                    <li>
                        <a href="/adminpatient" class="active"><span class="la la-users"></span>
                           <span>Patient</span>
                       </a>
                    </li>
                    <li>
                        <a href="/adminappoiment"><span class="la la-calendar"></span>
                           <span>Appointment</span>
                       </a>
                    </li>
                    <li>
                        <a href="/adminPayment"><span class="la la-money"></span>
                           <span>Payment</span>
                       </a>
                    </li>
                    <li>
                        <a href="/adminadddocter" ><span class="fa-solid fa-plus"></span>
                           <span>Add Doctor</span>
                       </a>
                    </li>
                 </ul>
                 </div>
                 </div>
                </div>
             <div class="main-content">
                 <header>
                     <h1>
                         <label for="nav-toggle">
                             <span class="la la-bars"></span>
                         </label>
                         Real-time Health Care
                         </h1>
                         <!-- <div class="user-wrapper">
                             <img src="/public/images/admin.png" width="30px" height="30px" alt="">
                         <div>
                             <h4>Vighnesh</h4>
                             <small> Admin</small>
                         </div> -->
                         <!-- </div> -->
            
                </header>
                <main>
                    <div class="cards">
                        <a href="/adminpatientrecords">
                        <div class="card-single">
                            <div class="C1">
                                    <h3>
                                        Patients Record
                                    </h3>
                                    <span class="la la-user"></span>
                                </div>
                            </div>
                        </a>
                        <a href="/adminpatienthistory">
                            <div class="card-single">
                                <div class="C1">
                                    <h3>
                                        Patient History
                                    </h3>
                                <span class="fa fa-history"></span>
                                </div>
                            </div>    
                        </a>
                        <a href="/adminpatientfeedbcak">
                            <div class="card-single">
                                <div class="C1">
                                    <h3>Patient Feedback
                                    </h3>
                                    <span class="la la-comments"></span>
                                </div>
                            </div>    
                        </a>
                    </div>
                    <div class="tableappdiv">
                                    <table class="apptable">
                                        <tr>
                                                 <% if(typeof head != 'undefined') { %>
                                                    <th>
                                                        <%= head.Name  %>                    
                                                    </th>
                                                 <th>
                                                     <%= head.lname  %>                    
                                                    </th>
                                                    <th>
                                                        <%= head.Email  %>                    
                                                    </th>
                                                 <th>
                                                     <%= head.Contactno  %>                    
                                                 </th>
                                                <% } %>
                                             </tr>   
                                            <% if(typeof patients != 'undefined') { %>
                                            <% patients.forEach(function(error) { %>
                                             <tr>
                                                 <td>
                                                     <%= error.firstname  %>                    
                                                 </td>
                                                 <td>
                                                     <%= error.lastname  %>                    
                                                 </td>
                                                 <td>
                                                     <%= error.email  %>                    
                                                 </td>
                                                 <td>
                                                     <%= error.phone  %>                    
                                                 </td>
                                                <% }) %>
                                                <% } %>
                                             </tr>   
                                    </table>
                    </div>
                    <div class="tableappdiv">
                                    <table class="apptable">
                                        <tr>
                                                 <% if(typeof heads != 'undefined') { %>
                                                    <th>
                                                        <%= heads.Name  %>                    
                                                    </th>
                                                    <th>
                                                        <%= heads.Email  %>                    
                                                    </th>
                                                    <th>
                                                        <%= heads.Date  %>                    
                                                    </th>
                                                    <th>
                                                        <%= heads.Time  %>                    
                                                    </th>
                                                    <% } %>
                                        </tr>   
                                            <% if(typeof appointments != 'undefined') { %>
                                            <% appointments.forEach(function(error) { %>
                                             <tr>
                                                 <td>
                                                     <%= error.pfname  %>                    
                                                 </td>
                                                 <td>
                                                     <%= error.pemail  %>                    
                                                 </td>
                                                 <td>
                                                     <%= error.date  %>                    
                                                 </td>
                                                 <td>
                                                     <%= error.time  %>                    
                                                 </td>
                                                <% }) %>
                                                <% } %>
                                             </tr>   
                                    </table>
                    </div>
                    <div class="tableappdiv">
                                    <table class="apptable">
                                        <tr>
                                                 <% if(typeof headss != 'undefined') { %>
                                                    <th>
                                                        <%= headss.docemail  %>                    
                                                    </th>
                                                    <th>
                                                     <%= headss.patientemail  %>                    
                                                    </th>
                                                    <th>
                                                        <%= headss.feedback  %>                    
                                                    </th>
                                                <% } %>
                                             </tr>   
                                            <% if(typeof reviews != 'undefined') { %>
                                            <% reviews.forEach(function(error) { %>
                                             <tr>
                                                 <td>
                                                     <%= error.docteremail  %>                    
                                                 </td>
                                                 <td>
                                                     <%= error.patientemail%>                    
                                                 </td>
                                                 <td>
                                                     <%= error.review  %>                    
                                                 </td>
                                                <% }) %>
                                                <% } %>
                                             </tr>   
                                    </table>
                    </div>
                </main>
        
        
            </div>
    </body>
</html>